<div class="flex-around">
  <mat-card class="card-size center-content card-margin" *ngFor="let game of this.games">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{game.getName()}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="image-size" src="{{game.getImage()}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      {{game.getDescription()}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="onclickPlay(game.getId())">JUGAR</button>
    </mat-card-actions>
  </mat-card>
</div>
