
.card-size {
  max-width: 35%;
  min-width: 35%;
}
.image-size {
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
}

.card-margin {
  margin: 10px 10px 10px 10px;
}

.center-content {
    align-content: center;
    align-items: center;
}
