<div class="flex-around">
  <div class="flex-around">
    <mat-form-field class="width-form-field" appearance="fill">
      <mat-label>Introduce el Nick con el que quieres jugar:</mat-label>
      <input
        type="text"
        matInput
        placeholder="Introduce el Nick con el que quieres jugar"
        class="inputNick" [formControl]="nick"
      />
      <button mat-raised-button (click)="clickAceptar()" [disabled]="!this.isBottomActive()">Aceptar</button>
    </mat-form-field>
    <br>
    <mat-label *ngIf="!this.isBottomActive()">Tu Nick de juego será: {{ this.getUserName(this.user) }}</mat-label>  
  </div>      

  <div class="flex-vertical">
    <mat-label>Usuarios en espera</mat-label>
    <mat-nav-list *ngFor="let user of this.waitingUsers">
      <mat-list-item>
        <a matLine href="" *ngIf="!this.isMyUser(user)" [class.disabled]="false">{{this.getUserName(user)}}</a>
        <a matLine class="black" href="" *ngIf="this.isMyUser(user)" [class.disabled]="true">** {{this.getUserName(user)}} **</a>
      </mat-list-item>
    </mat-nav-list>
  </div>
</div>
