.inputNick {
   max-width: 350px;
   min-width: 350px;
}

.width-form-field {
   width: 500px;
}

a.disabled {
   pointer-events: none;
   cursor: default;
}

.black {
  font-weight:bold;
  font-weight: bold;
}
